@import "tailwindcss";
:root {
  --background: #5c3f3f;
  --foreground: #110d0d;
  --font-geist-sans: 'Lora', serif;
  --font-geist-mono: 'Courier New', monospace;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #5c3f3f;
  --foreground: #110d0d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
